@mixin flUI-span($span, $start: auto, $row: auto) {
  grid-column: $start / span $span;
  grid-row: $row;

  /* media query for small devices */
  @media screen and (max-width: 480px) {
    grid-column: 1 / span 12;
    grid-row: auto;
  }
}