/*Layout*/
.logo {
    height: 32px;
    margin: 16px 16px 32px  16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

/* Categories */
.category-card{
border-radius: 32px;
}

.category-badges{
    position: absolute;
    gap: 8px;
    top: 0;
    right: 0;
    margin-top: -12px;
    margin-right: -12px;
}

/*Editable table*/

.editable-cell {
    position: relative;
}

.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #434343;
}

.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
}